/* --- The Layer class always contains all content --- */
#andromeda_main_content {
    position: relative;
    min-height: 500px;
}
#Form1 div.x4Layer {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    margin-left: 10px;
    width: 900px;
}



/* --- Menu operations --- */
#Form1 div.x4Layer a {
    text-decoration: none;
}
#Form1 div.x4Layer a.x4MenuOn {
    background-color: #3F7CB9;
    color: white;
}

/* --- General boxes and stuff --- */
table.tab100 {
    width: 100%
}
#Form1 div.x4Layer .x4box {
    border: 6px solid #E6E3E6;
    margin: 5px;
    padding: 6px;
}

/* --- Search Boxes ---- */
#x4browsetbody tr.highlight {
    background-color: gray;
    color: white;
}

/* --- Input controls --- */
#Form1 .x4caption {
    text-align: right;
    padding-right: 3px;
    vertical-align: top;
    padding-top: 2px;
}

input.x4input, textarea.x4input, select.x4input {
    margin: 1px;
    border: 1px solid #B0B0B0;
    color: #404070;
}
input.x4inputReadOnly, textarea.x4inputReadOnly, select.x4inputReadOnly {
    margin: 1px;
    border: 1px solid #B0B0B0;
    background-color: #E0E0E0;
}
input.x4Focus, textarea.x4Focus, select.x4Focus {
    margin: 0px;
    border: 2px solid black;
    color: black;
}
input.x4Insert, textarea.x4Insert, select.x4Insert {
    background-color: #EAEC73;
}
