html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d0d0d0;
    font-size: 13px;
    font-family: verdana;
    margin: 0px 3px;
    color: black;
}

h1 { 
    margin: 2px 0 4px 0;
    padding: 0; 
    font-size: 20px;
    font-weight: bolder;
}

/* -------------------------------------------------------------- *\
   -------------------------------------------------------------- 
   Here are the big top-level elements
   -------------------------------------------------------------- 
\* -------------------------------------------------------------- */
.x6body {
    border-width: 1px;
    border-style: solid;
    border-color: #909090 #ffffff #ffffff #909090;
    height: 670px;
    width: 990px;
    background-color: #f0f0f0;
}

.x6footer {
    text-align: center;
    font-size: 80%;
    margin-top: 10px;
    padding: 0 3px 0 3px;
}
.x6main {
    height: 547px;
    background-color: #F0F0F0;
    position: relative;
    padding: 3px;
}

/* -------------------------------------------------------------- *\
   -------------------------------------------------------------- 
   Command Bar
   -------------------------------------------------------------- 
\* -------------------------------------------------------------- */
.x6commandBar {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff #909090 #909090 #ffffff;
    height: 25px;
    background-color: #D0D0D0;
    padding-left: 3px;
}
.x6commandBar input {
    border-width: 1px;
    border-style: solid;
    border-color: #909090 #ffffff #ffffff #909090;
    height: 15px;
    margin-top: 2px;
}

/* -------------------------------------------------------------- *\
   -------------------------------------------------------------- 
   Command Bar
   -------------------------------------------------------------- 
\* -------------------------------------------------------------- */
.x6buttonBar {
    height: 25px;
}


/* -------------------------------------------------------------- *\
   -------------------------------------------------------------- 
   STRUCTURE OF THE MENU SYSTEM
   -------------------------------------------------------------- 
\* -------------------------------------------------------------- */
.x6menu {
    height: 24px;
    line-height: 25px;
    padding: 1px 0 0 0;

}

.x6menu ul {
    margin:0pt;
    padding:0pt;
    float:left;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    background-color: #D0D0D0;    
}

.x6menu ul.right {
    float: right;
}

.x6menu ul li {
    position:relative;
}
.x6menu li { 
    background:transparent none repeat scroll 0%;
    float:left;
    padding:0pt;
}
.x6menu span,.x6menu a { 
    cursor:pointer;
    display:block;
    float:left;
    font-weight:normal;
    overflow:hidden;
    padding:0px;
    padding-right: 12px;
    text-decoration:none;
    border: 0;
}
.x6menu span.selected {
    background-color: white;
}

ul.dropdown {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff #909090 #909090 #ffffff;
    font-weight:normal;
    height:auto;
    margin:0pt;
    padding:0pt;
    position:absolute;
    top: 25px;
    width: 275px;
    z-index: 1000;
}
ul.dropdown li  {
    /* float:left; */
    padding:0pt;
    position:relative;
}
ul.dropdown li a {
    background:transparent none repeat scroll 0%;
    display:block;
    text-decoration:none;
    text-transform:none;
    width:100%;
    font-weight:normal;
    padding:0pt;
    text-indent:15px;
    border:0pt none;
    color: black;
}
ul.dropdown li a:hover {
    background-color: white;
}




/* ========================================================= *\
   =========================================================
   page control
   =========================================================
\* ========================================================= */
.fadein { display: none; }

.boxup { 
    float: left;
    height: 600px;
    border: 5px solid gray;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff #909090 #909090 #ffffff;
    background-color: #D0D0D0;
    padding: 3px;
}
.boxdown { 
    float: left;
    height: 600px;
    border: 5px solid gray;
    position: relative;
    background-color: #f0f0f0;
    border-width: 1px;
    border-style: solid;
    border-color: #909090 #ffffff #ffffff #909090;
}


.box:active {
    border: 5px solid yellow;
}
.box-spacer {
    width: 0px;
    float: left;
    position: relative;
}

.statusBar {
    text-align:center;
}


/* ========================================================= *\
   =========================================================
   buttons
   =========================================================
\* ========================================================= */
a.button {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff #909090 #909090 #ffffff;
    text-decoration: none;
    margin-left: 8px;
    padding: 0px 3px 1px 3px;
    color: black;
}
a.button-first {
    margin-left: 0px;
}

a.button_disabled {
    border-width: 1px;
    border-style: solid;
    border-top-color: silver;
    border-left-color: silver;
    border-bottom-color: black;
    border-right-color: black;
    text-decoration: none;
    margin-left: 8px;
    padding: 0px 3px 1px 3px;
    color: #808080;
    background-color: #c0c0c0;
}

/* ========================================================= *\
   =========================================================
   inputs
   =========================================================
\* ========================================================= */
td.x4Caption {
    text-align: right; 
    padding-right: 3px;
}

td.x4Input {
    
}

input,select,textarea {
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    background-color: #dddddd;
    color: #444444;
}
tr.selected {
    background-color: #555555;
    color: white;
}
input.Selected,select.Selected,textarea.Selected {
    border-color: #555555;
    background-color: #f0f0f0;
    color: #333333;
}
input.changed,select.changed,textarea.changed {
    border-color: #E0E224;
    background-color: #E0E224;
}
input.changedSelected,select.changedSelected,textarea.changedSelected {
    border-color: #555555;
    background-color: #FDFF02;
}
input.error,select.error,textarea.error {
    border-color: #FF888A;
    background-color: #FF888A;
}
input.errorSelected,select.errorSelected,textarea.errorSelected {
    border-color: #555555;
    background-color: #FFD6D7;
}
input.readOnly,select.readOnly,textarea.readOnly {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    color: #202020;
    background-color: white;
    font-weight: bolder;
    
}

td.x4Caption {
    padding-top: 1px;
    padding-right: 5px;
    padding-left: 12px;
}
td.x4Input {
    padding-right: 12px;
}

/* ========================================================= *\
   =========================================================
   tab div
   =========================================================
\* ========================================================= */
div.tdiv {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff #909090 #909090 #ffffff;
}

div.thead div {
    height: 29px;
    background-color: #d0d0d0;
    border-width: 1px;
    border-style: solid;
    border-top-color:  #DDDDDD;
    border-left-color: #DDDDDD;
    border-bottom-color: #666666;
    border-right-color: #666666;
}

div.thead div div {
    height: 25px;
    float: left;
    min-width: 125px;
    width: 125px;
    max-width: 125px;
    padding-left: 3px;
    padding-top: 3px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #2f4f4f;
}

div.tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f0f0f0;
}

div.tbody div div {
    float: left;
    min-width: 125px;
    width: 125px;
    max-width: 125px;
    height: 20px;
    overflow: hidden;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #2f4f4f;
    padding-left: 3px;
    background-color: #f0f0f0;
}

div.tbody div.selected div {
    background-color: #ffebcd;
}

div.tbody div.hilight div {
    background-color: #cccccc;
}


