/* ---------------------------------------------------- *\ 
   ----------------------------------------------------
   This style sheet is set up so that you only have to
   make each assignment once.  In particular, sizes are
   separated from colors. 
   
   There are very few ID rules, and they are strictly
   limited to positioning and sizing of these unique
   elements.
   ----------------------------------------------------
\* ---------------------------------------------------- */ 
/* ---------------------------------------------------- *\ 
   FONT SIZES AND NAMES
\* ---------------------------------------------------- */
body, td {
    font-size: 15px;
    font-family: Tahoma,sans;
}
/* -- An invisible object to pass in constant to use -- */
/* -- for calculating with of browser columns        -- */
#x4CharacterInformation {
    opacity: 0;
    position: absolute;
    height: 0px;
    width: 9px;
    left: 0px;
    top: 0px;
}

h1 {
    font-size: 22px;
    text-align: left;    
}
h2 {
    font-size: 20px;    
    text-align: left;    
}
h3 {
    font-size: 18px;    
    text-align: left;    
}

a {
    text-decoration: none;   
}
  
/* ---------------------------------------------------- *\ 
   POSITIONING AND SIZE
\* ---------------------------------------------------- */
body,html {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

/* pseudo-element.  Resizing routines should read this */
#x4BarHeights {
    height: 50px;
}

#x4ActionBar {
    height: 25px;
}
#x4StatusBar {
    height: 25px;
}
#x4MainContent {
    overflow: auto;
}
/* -- This basically invisible object is how we "pass in -- */
/* -- a constant from the CSS file to index.php.  The    -- */
/* -- index.php needs to know the height                 -- */
#x4VerticalInformation {
    opacity: 0;
    position: absolute;
    height: 96px;
    width: 0px;
    left: 0px;
    top: 0px;
}

.x4BarGroupRight {
    float: right; 
}
.x4BarGroupLeft {
    float: left; 
}

/* scheme 0 is associated with main content area */
div.scheme0 , td.scheme0, table.x4Detail {
    border-width: 6px;
    border-style: solid;
    padding: 5px;
}
table.browseHead {
    border-width: 6px 6px 0px 6px;
    border-style: solid;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: 3px;
}
table.browseHead td {
    //border: 1px solid white; 
    overflow: none;
    padding-left: 2px;
}

table.grid {
    border-width: 6px;
    border-style: solid;
    border-spacing: 0;
    border-collapse: collapse;
}
table.grid td {
    border-width: 1px;
    border-style: solid;
    padding: 0px 4px;
}


/* scheme 1 is associated with action bar at top */
div.scheme1 , td.scheme1 {
    border-width: 6px 6px 0px;  
    border-style: solid;
    padding: 4px 10px 0px 10px;
}

/* scheme 0 is associated with status bar at bottom */
div.scheme2 , td.scheme2 {
    border-width: 0px 6px 6px;  
    border-style: solid;
    padding: 4px 10px 0px 10px;
}
div.browseBody {
    border-width: 0px 6px 6px;  
    border-style: solid;
    overflow: scroll;
    margin: 0;
    padding-left:2px;
    padding-right: 4px;
}
div.browseBody table {
    margin-left:-4px;
    border-spacing: 0px;
    border-collapse: collapse;
    height: 370px;
}
div.browseBody table td { 
    border: 1px solid white; 
    overflow: none;
    padding-left: 2px;
    height: 15px;   
}

table.x4Browse {
    text-align: center;   
    border-spacing: 2px;
}
table.x4Browse td{
    text-align: left;   
    //border-spacing: 2px;
    width: 50px;
}

table.x4Detail td.caption {
    text-align: right;
    padding-right: 3px;
}
table.x4Detail td.input {
    text-align: left;
}

div.detail table.detail td {
    vertical-align: top;
}

td.linksOnRight {
    padding-left: 15px;
}

input, textarea {
    border-width: 1px;
    border-style: solid;
}

td.tdr { text-align: right; }
td.tdt { vertical-align: top; }


/* ---------------------------------------------------- *\ 
   Main menu stuff
\* ---------------------------------------------------- */
div.mainmenu h1 {
    text-align: center;
}

/* ---------------------------------------------------- *\ 
   Layout Classes
\* ---------------------------------------------------- */
table.layout {
    width: 100%;
    height: 100%;
    border-spacing: 8px;
    border-collapse: separate;
}


/* ---------------------------------------------------- *\ 
   Browse-specific classes
\* ---------------------------------------------------- */
div.browse h1 {
    display: inline;
}

a.browse_anew {
    float: right;
    color: purple;
}

/* ---------------------------------------------------- *\ 
   COLORING OF SCHEMES
   
   In any particular scheme, we have to define:
   basic colors
   anchor colors
   grid headers 1

    scheme0:  Main content area
    scheme1:  top action bar
    scheme2:  bottom status bar
\* ---------------------------------------------------- */
div.scheme0 , td.scheme0      
            , table.x4Detail
            , table.browseHead 
            , div.browseBody 
            , table.grid 
            , table.grid td {
   border-color: #CED2D6;   
}
div.scheme0 {
   background-color: white;     
}
td.scheme0 , table.x4Detail
           , table.browseHead
           , table.grid td.header 
           , table.grid tr.header
           {
   background-color: #EFEFF7;     
}
.scheme0 a {
   color: #3E4ED4;
}
.scheme0 a.hilite,table.x4Browse th,table.x4Browse tr.hilite
,div.browseBody tr.hilite {
   background-color: #CED2D6;
}


/* inputs in main editing area */
input.x4upd {
    border-color: #F0F0F0;
    background-color: #F0F0F0;
}
input.x4updSelected {
    border-color: black;
    background-color: white;
}
/* Yellow STUFF */
input.x4ins {
    border-color: yellow;
    background-color: yellow;
}
input.x4insSelected {
    border-color: black;
    background-color: yellow;
}
table.grid tr.current td {
    background-color: yellow;
}

/* Green Stuff */
table.grid tr.hilite1 {
    background-color: lightgreen;
}


/* readonly controls, normal and primary key */
input.x4ro {
    border-color: #D0D0D0;
    background-color: #D0D0D0;
    color: black;
}
input.x4pk {
    border-color: #707070;
    background-color: #707070;
    color: yellow;
}




div.scheme1 , td.scheme1 {
    border-color:#3A7DBD; 
    background-color: #4A8ED6;
}
.scheme1 a {
   color:#F7F7FF;
}

div.scheme2 , td.scheme2 {
    border-color: #5A595A; 
    background-color: #BDBEC5;
}
.scheme2 a {
   color:#5A595A;
}


/* ---------------------------------------------------- *\ 
   GENERIC MODIFIERS
\* ---------------------------------------------------- */
.dim {
    opacity: 0.4;
}

/* ---------------------------------------------------- *\
   ----------------------------------------------------
   Menu Styles       
   ----------------------------------------------------
\* ---------------------------------------------------- */
table.gsMenu {
    width: 100%;
    border-spacing: 20px;
}

table.gsMenu td {
    text-align: left;
    vertical-align: top;
}

table.gsMenu a {
    display: block;
}



/* ---------------------------------------------------- *\
   ----------------------------------------------------
   Select dropdown, kind of an odd-ball       
   ----------------------------------------------------
\* ---------------------------------------------------- */
.androSelect {
    position: absolute;
    border: 1px solid black;
    z-index: 100;
    background-color: white;
    overflow:auto;
}

.androSelect table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

.androSelect table td {
    padding: 1px;
    font-size: 0.9em;
    border: 1px solid #D0D0D0;
}

.androSelect table tr.hilite {
    background-color: #A0A0A0;
}
