/************************************
 *
 *  Replace these colors as needed
 *  
 *  #488DD3 - main color
 *  #3F7CB9 - shadow color
 *  #fff    - font color 
 *
 ************************************/   

body #color-insert {
  background: #488DD3;
}

/* menu area */
div#horiz-menu, td#jqmTitle {
	border-color: #3F7CB9; 
	background: #488DD3; 
}

div.botbox {
	border-color:  #3F7CB9; 
	background:  #488DD3; 
}

div.botbox div.moduletable h3 {
	color: #fff;
	background: #3F7CB9;
}

a:link,
a:visited {
  color: #3F7CB9;
}

td a.mainlevel:hover {
	background: #488DD3;
	color: #fff;
}

.contentheading {
  color: #3F7CB9;
}

div.componentheading {
  color: #fff;
  background: #488DD3;
}

/* suckerfish */

#nav a {
	color: #fff;
}

#nav a.topdaddy,
#nav li.active a.topdaddy {
	border-right:  1px solid #3F7CB9;
}

#nav ul ul a.daddy {
	border: 0;
}

#nav li a {
	border-right:  1px solid #3F7CB9;
}

#nav li li a {
	border: 0;
}

#nav ul li a:hover,
#nav ul li ul li a:hover,
#nav ul li ul li ul li a:hover,
#nav ul li.active ul li a:hover,
#nav ul li.active ul li ul li a:hover,
#nav li.active li.active a,
#nav li.active li.active a:hover {
	background: #3F7CB9;
}

#nav li li {
	border-bottom: 1px solid #3F7CB9;
}

#nav ul ul a {
	color: #fff;
}

#nav li ul {

}

#nav li:hover a, #nav li.sfhover a {
  color: #fff;
}

#nav li li:hover a, #nav li li.sfhover a {
  color: #fff;
}



#nav li:hover ul, 
#nav li li:hover ul, 
#nav li li li:hover ul, 
#nav li li li li:hover ul,
#nav li.sfhover ul, 
#nav li li.sfhover ul, 
#nav li li li.sfhover ul,
#nav li li li li.sfhover ul{
	background: #488DD3;
	border:  1px solid #3F7CB9;
}
