/* ==================================================== *\
 * xtable_2 styles
\*	==================================================== */

/*  The page title */
h1 { font-size: 1.7em; font-weight: bold;
   margin: 0px;
   padding-top: 6px; padding-bottom: 6px;
   padding-left: 0px;
   text-align: center;
}

/*  Content box  */
td.x2_content {
   margin: 2px;
   /*
   border-left:   2px solid navy;
   border-right:  2px solid navy;
   border-top:    1px solid navy;
   border-bottom: 1px solid navy;
   */
   padding: 10px;
   background-color: #f0f0ff;
}

/*  Content box - With a tab bar on top, see tab styles below */
td.x2_tabcontent {
   margin: 2px;
   /*
   border-left:   2px solid navy;
   border-right:  2px solid navy;
   border-bottom: 1px solid navy;
   */
   padding: 10px;
   background-color: #f0f0ff;
}


/*  Drilldown box inside of content box */
table.x2_drilldown {
   border: 1px solid navy;
   margin-bottom: 5px; 
   background-color: white;
}

/* mode message inside of content box */
div.x2_modecomment {
   border: 2px solid red;
   background-color: #FFD0D0;
   color: black;
   padding: 5px;
   margin-bottom: 5px;
   
}

/* ------------------------------------------------- */ 
/* x_table2 menu bar styles
/* ------------------------------------------------- */
.x2menubar {
  font: 10px Verdana;
  padding: 8px;
  /* border: 1px solid #51188e; */
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 0px;
}

.x2menubar A  { 
   border: 1px solid #51188e;
   padding-top: 4px; padding-bottom: 4px;
   padding-left:8px; padding-right: 8px;
   text-decoration: none;
   background-color: #c6deff;
}
.x2menubar A:hover  { background-color: white; } 
.x2menubar A:active { background-color: white; } 


.x2menubar span {
   padding-top: 4px; padding-bottom: 4px;
   padding-left:8px; padding-right: 8px;
   border: 1px solid #707070;
   background-color: #c0c0c0;
   color: #707070;
}

.x2menubar span.x2menubar_text {
   padding-top: 4px; padding-bottom: 4px;
   padding-left:8px; padding-right: 8px;
   border: 1px solid #707070;
   background-color: #E0E0E0;
   font-weight: bold;
   color: #303030;
}

/* ------------------------------------------------- */ 
/* x_table2 tab bar styles                           */
/* see also x2_contenttab above                      */
/* ------------------------------------------------- */
.x2tabbar {
  font: 10pt Verdana;
  padding: 8px;
  /* border: 1px solid #51188e; */
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 0px;
}

.x2tabbar A  { 
   border: 1px solid #51188e;
   padding-top: 4px; padding-bottom: 4px;
   padding-left:8px; padding-right: 8px;
   text-decoration: none;
   background-color: #c6deff;
}
.x2tabbar A:hover  { background-color: white; } 
.x2tabbar A:active { background-color: white; } 


.x2tabbar span {
   padding-top: 4px; padding-bottom: 4px;
   padding-left:8px; padding-right: 8px;
   border: 1px solid #707070;
   background-color: #c0c0c0;
   color: #707070;
}

.x2tabbar span.x2menubar_text {
   padding-top: 4px; padding-bottom: 4px;
   padding-left:8px; padding-right: 8px;
   border: 1px solid #707070;
   background-color: #E0E0E0;
   font-weight: bold;
   color: #303030;
}

/* ==================================================== *\
 * Browse Table Styles
\*	==================================================== */
td.dhead {
   background-color: #303080;
   color: #D0D0D0;
   padding: 2px;
   font-size: 11px;
   font-weight: bolder;
}
.dhead A         {text-decoration:underline; color:#f1f1b1; font-weight: bold; }

td.dlite { 
   padding: 2px;
   font-size: 11px;
   border-bottom: 1px solid #999999;
}
.dlite A         {text-decoration:none; color: blue; }
.dlite A:focus   {text-decoration:underline; color: purple ; }
.dlite A:active  {text-decoration:underline; color: purple ; }
.dlite A:hover   {text-decoration:underline; color: purple ; }
td.ddark { 
   background-color: #eaeaea; 
   padding: 2px;
   font-size: 11px;
   border: 1px solid #999999;
}
.ddark A:link    {text-decoration:underline; color:#003E3E; }
.ddark A:visited {text-decoration:underline; color:#003E3E; }
.ddark A:active  {text-decoration:underline; color:#003E3E; }
.ddark A:hover   {text-decoration:underline; color:#30009E; }

/* ==================================================== *\
 * Widget styles
\*	==================================================== */
input, select, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px; 
}
input, textarea {
	padding-left: 1px;
	padding-right: 1px; 
}

textarea { text-wrap: normal; }

.inp-caption { text-align: right; padding-right: 6px; }

input.ro        { background-color: #e0e0e0; }
textarea.ro     { background-color: #e0e0e0; }

input.inp-ins       { background-color: yellow; }
textarea.inp-ins    { background-color: yellow; }
select.inp-ins      { background-color: yellow; }

input.inp-search    { background-color: lightgreen; }
textarea.inp-search { background-color: lightgreen; }
select.inp-search   { background-color: lightgreen; }

a.ro { color: gray; }

/* ==================================================== *\
 * Errors and notices
\*	==================================================== */
div.errorbox {
   border: 3px solid maroon;
   background-color: #FFD0D0;
   padding: 10px;
   margin-bottom: 10px;
   margin-top: 10px;
   color: black;
   font-size: 1.1em;
   font-weight: bolder;
}

/*
div.errorbox p {
   color: black;
   font-size: 1.1em;
   font-weight: bolder;
}
*/

/* THIS STUFF FROM ADOCS.CSS */
/* --------------------------------- */
/* -------- DD Tables  ------------- */
/* --------------------------------- */
table.adocs_table1 {
   border-collapse: collapse;
   width: 100%;
   border: 1px solid #F0F0F0;
}

table.adocs_table1 td {
   padding: 2px;
   border: 1px solid #707070;
   background-color: white; 
}

table.adocs_table1 td.adocs_th {
   padding: 2px;
   border: 1px solid #707070;
   background-color: #D0D0D0;
   font-weight: bolder;
}

t4.t4mid {
	font-size: 12px;
	font-weight: normal;
	color: #000033;
	text-decoration: none;   
}
t4.t4mid p {
   margin-top: 0px;
   margin-bottom: 3px;
}

htitle {
   display: block;
   color: rgb(0,0,102);
   font-size: 24px;
   font-weight: bold;
   padding-bottom: 10px;
}

.head1 {
   display: block;
   text-align: left;
   font-family: Arial;
   font-size: 18px;
   font-weight: bold;
   text-decoration: none;   
   padding-top: 8px;
   padding-bottom: 8px;
}
.head2 { 
   display: block;
   text-align: left;
   font-family: Arial;
   font-size: 16px;
   text-decoration: none;   
   padding-bottom: 8px;
   font-style: italic;
}
.head3 { 
   display: block;
   text-align: left;
   font-family: Arial;
   font-size: 14px;
   font-weight: bold;
   text-decoration: none;   
   padding-bottom: 7px;
   font-style: italic;
}


