#andromeda_main_content .highlight {
  background-color: #9EBAD8;
}

#andromeda_main_content thead th {
    background-color: #4A8ED6;
    color: #F0F0F0;
}
#andromeda_main_content a.x4MenuOn {
    background-color: #4A8ED6;
    color: white;
}

