/* ==================================================== *\
 * Andromeda Generated CSS file                         
 * Generated: Thu, 22 Jan 2009 07:48:07 -0500
 * Skin, color, size: Default, Gray, 1440
\* ==================================================== */
        
.fadein {
    display:                 none;
}

.x6main {
    position:                relative;
    background-color:        #f0f0f0;
    padding-left:            4px;
    padding-right:           4px;
}

a.button_disabled {
    cursor:                  default;
    outline:                 0;
}

a {
    outline:                 0;
}

a.button_disabled,a.button,div.thead div a {
    text-decoration:         none;
    display:                 block;
}

body {
    background-color:        #d0d0d0;
    color:                   #000000;
    font-family:             verdana;
    font-size:               14px;
    line-height:             18px;
    margin-top:              0;
    margin-bottom:           0;
    margin-left:             4px;
    margin-right:            4px;
}

body a {
    color:                   blue;
}

h1 {
    font-size:               21px;
    line-height:             32px;
    font-weight:             bolder;
    margin-top:              0;
    margin-bottom:           0;
    padding-top:             4px;
    padding-bottom:          8px;
}

h2 {
    height:                  18px;
    font-weight:             bolder;
}

.box1 {
    border-top:              1px solid #909090;
    border-bottom:           1px solid #ffFFff;
    border-left:             1px solid #909090;
    border-right:            1px solid #ffFFff;
    background-color:        #f0f0f0;
}

.box2 {
    border-top:              1px solid #ffFFff;
    border-bottom:           1px solid #909090;
    border-left:             1px solid #ffFFff;
    border-right:            1px solid #909090;
    background-color:        #d0d0d0;
}

.box3 {
    border-top:              1px solid #909090;
    border-bottom:           1px solid #909090;
    border-left:             1px solid #909090;
    border-right:            1px solid #909090;
}

.x6body {
    background-color:        #f0f0f0;
    border-top:              1px solid #909090;
    border-bottom:           1px solid #ffFFff;
    border-left:             1px solid #909090;
    border-right:            1px solid #ffFFff;
    height:                  708px;
    width:                   1392px;
}

.x6commandBar {
    background-color:        #d0d0d0;
    border-top:              1px solid #ffFFff;
    border-bottom:           1px solid #909090;
    border-left:             1px solid #ffFFff;
    border-right:            1px solid #909090;
    padding-left:            4px;
}

.statusBar {
    line-height:             23px;
    font-size:               80%;
}

.statusBar .sbright {
    float:                   right;
}

.statusBar .sbleft {
    float:                   left;
}

.x6footer {
    padding-top:             4px;
    font-size:               11px;
    line-height:             18px;
    background-color:        #d0d0d0;
    width:                   1393px;
}

select,input,textarea {
    border-top:              1px solid #909090;
    border-bottom:           1px solid #ffFFff;
    border-left:             1px solid #909090;
    border-right:            1px solid #ffFFff;
    font-family:             verdana;
    font-size:               14px;
}

tr.selected {
    background-color:        #5E71A2;
    color:                   #ffffff;
}

input.changed,input.changedSelected {
    background-color:        yellow;
}

select.changed,select.changedSelected {
    background-color:        yellow;
}

textarea.changed,textarea.changedSelected {
    background-color:        yellow;
}

input.error {
    background-color:        #ff4500;
}

input.required {
    background-color:        #abcdef;
}

input[disabled],select[disabled],textarea[disabled] {
    background-color:        #f0f0f0;
    border-top:              1px solid #909090;
    border-bottom:           1px solid #ffFFff;
    border-left:             1px solid #909090;
    border-right:            1px solid #ffFFff;
    color:                   #000000;
}

td.x6Input a {
    padding-left:            4px;
}

div.x6menu {
    background-color:        #d0d0d0;
    line-height:             24px;
    height:                  26px;
    width:                   1393px;
}

div.x6menu ul {
    margin:                  0;
    padding:                 0;
    z-index:                 1000;
}

div.x6menu ul a {
    text-decoration:         none;
    color:                   #000000;
    display:                 block;
    z-index:                 1000;
}

div.x6menu ul li {
    display:                 inline;
    float:                   left;
    height:                  auto;
    z-index:                 1000;
    cursor:                  pointer;
    border-top:              1px solid #d0d0d0;
    border-bottom:           1px solid #d0d0d0;
    border-left:             1px solid #d0d0d0;
    border-right:            1px solid #d0d0d0;
    padding-left:            8px;
    padding-right:           8px;
    padding-bottom:          2px;
}

div.x6menu ul li.selected {
    background-color:        #4A79B5;
    color:                   #ffffff;
    border-top:              1px solid #000000;
    border-bottom:           0;
    border-left:             1px solid #000000;
    border-right:            1px solid #000000;
}

div.x6menu ul li.selected a {
    color:                   #ffffff;
}

div.x6menu ul ul {
    display:                 block;
    position:                absolute;
}

div.x6menu ul ul.dropdown {
    z-index:                 1000;
    border-top:              1px solid #000000;
    border-bottom:           1px solid #000000;
    border-left:             1px solid #000000;
    border-right:            1px solid #000000;
    background-color:        #ffffff;
    width:                   281px;
    margin-left:             -9px;
    margin-top:              2px;
}

div.x6menu ul li li {
    display:                 block;
    float:                   none;
    z-index:                 1000;
}

div.x6menu ul li ul li {
    text-indent:             0;
    margin:                  0;
    padding:                 0;
    border:                  0;
}

div.x6menu ul li ul li a {
    padding-top:             4px;
    padding-bottom:          4px;
    padding-left:            8px;
    padding-right:           0;
}

div.x6menu ul li.selected ul li a {
    color:                   #000000;
}

div.x6menu ul li ul li a:hover {
    background-color:        #4A79B5;
    color:                   #ffffff;
}

#x6menu_left div {
    font-weight:             bolder;
    font-size:               125%;
    cursor:                  pointer;
}

#x6menu_left div.hilight {
    background-color:        #4A79B5;
    color:                   white;
}

#x6menu_right div div {
    font-weight:             bolder;
    font-size:               105%;
    cursor:                  pointer;
    line-height:             200%;
    padding-left:            4px;
    padding-right:           4px;
}

#x6menu_right div div.hilight {
    background-color:        #d0d0d0;
}

table.x6Detail {
    border-spacing:          0;
    border-collapse:         collapse;
}

td.x6Caption {
    text-align:              right;
    padding-top:             4px;
    padding-left:            4px;
    padding-bottom:          4px;
    vertical-align:          top;
}

.ui-tabs-nav {
    list-style:              none;
    float:                   left;
    position:                relative;
    bottom:                  -1px;
    z-index:                 1;
    margin-top:              0;
    margin-bottom:           0;
    margin-left:             0;
    margin-right:            0;
    padding-top:             0;
    padding-bottom:          0;
    padding-left:            0;
    padding-right:           0;
    border-right:            1px solid #909090;
}

.ui-tabs-nav li {
    text-decoration:         none;
    list-style:              none;
    float:                   left;
    line-height:             18px;
    margin-top:              0;
    margin-bottom:           0;
    margin-left:             0;
    margin-right:            0;
    padding-top:             8px;
    padding-bottom:          8px;
    padding-left:            16px;
    padding-right:           16px;
    border-top:              1px solid #909090;
    border-bottom:           1px solid #909090;
    border-left:             1px solid #909090;
    border-right:            0;
}

.ui-tabs-nav li a {
    list-style:              none;
    float:                   left;
    text-decoration:         none;
    outline:                 none;
    color:                   #000000;
    margin-top:              0;
    margin-bottom:           0;
    margin-left:             0;
    margin-right:            0;
    border-top:              0;
    border-bottom:           0;
    border-left:             0;
    border-right:            0;
}

.ui-tabs-panel {
    text-decoration:         none;
    list-style:              none;
    clear:                   left;
    outline:                 0;
    margin-top:              0;
    margin-bottom:           0;
    margin-left:             0;
    margin-right:            0;
    padding-top:             0;
    padding-bottom:          0;
    padding-left:            0;
    padding-right:           0;
    border-top:              1px solid #909090;
    border-bottom:           1px solid #909090;
    border-left:             1px solid #909090;
    border-right:            1px solid #909090;
}

.ui-tabs-hide {
    display:                 none;
}

.ui-tabs-nav li.ui-state-active a {
    color:                   #ffffff;
}

.ui-tabs-nav li.ui-state-active {
    background-color:        #5E71A2;
}

.ui-tabs-nav li.ui-state-disabled a {
    color:                   #d0d0d0;
    cursor:                  default;
}

span.button {
    border-top:              1px solid #ffFFff;
    border-bottom:           1px solid #909090;
    border-left:             1px solid #ffFFff;
    border-right:            1px solid #909090;
    cursor:                  pointer;
}

span.button_mousedown {
    border-bottom:           1px solid #ffFFff;
    border-top:              1px solid #909090;
    border-right:            1px solid #ffFFff;
    border-left:             1px solid #909090;
    cursor:                  pointer;
}

div.x6buttonBar a.button {
    border-top:              1px solid #ffFFff;
    border-bottom:           1px solid #909090;
    border-left:             1px solid #ffFFff;
    border-right:            1px solid #909090;
    color:                   #ffffff;
    background-color:        #4A79B5;
    margin-left:             4px;
    margin-top:              4px;
    margin-bottom:           4px;
    padding-top:             4px;
    padding-bottom:          4px;
    padding-left:            4px;
    padding-right:           4px;
    line-height:             14px;
}

div.x6buttonBar a.button_mousedown {
    border-bottom:           1px solid #ffFFff;
    border-top:              1px solid #909090;
    border-right:            1px solid #ffFFff;
    border-left:             1px solid #909090;
}

div.x6buttonBar a.button_disabled {
    border-top:              1px solid #909090;
    border-bottom:           1px solid #909090;
    border-left:             1px solid #909090;
    border-right:            1px solid #909090;
    color:                   #909090;
    margin-left:             4px;
    margin-top:              4px;
    margin-bottom:           4px;
    padding-top:             4px;
    padding-bottom:          4px;
    padding-left:            4px;
    padding-right:           4px;
    line-height:             14px;
}

div.thead div {
    height:                  28px;
    background-color:        #d0d0d0;
}

div.thead div div {
    float:                   left;
    line-height:             28px;
    border-top:              1px solid #ffFFff;
    border-bottom:           1px solid #909090;
    border-left:             1px solid #ffFFff;
    border-right:            1px solid #909090;
    padding-right:           4px;
    padding-left:            4px;
}

div.tbody {
    overflow-x:              hidden;
    overflow-y:              scroll;
    clear:                   both;
}

div.tbody div div {
    float:                   left;
    overflow:                hidden;
    border-top:              0;
    border-bottom:           0;
    border-left:             1px solid #f0f0f0;
    border-right:            1px solid #f0f0f0;
    padding-right:           4px;
    padding-left:            4px;
    line-height:             28px;
    height:                  28px;
}

div.tbody div.selected input {
    margin-left:             -2px;
    margin-right:            -2px;
}

div.tbody div.flavor0 div {
    background-color:        #A0FFA0;
    border-left:             1px solid #A0FFA0;
    border-right:            1px solid #A0FFA0;
}

div.tbody div.flavor1 div {
    background-color:        #A0A0FF;
    border-left:             1px solid #A0A0FF;
    border-right:            1px solid #A0A0FF;
}

div.tbody div.flavor2 div {
    background-color:        #FFA0A0;
    border-left:             1px solid #FFA0A0;
    border-right:            1px solid #FFA0A0;
}

div.tbody div.flavor3 div {
    background-color:        #FF00FF;
    border-left:             1px solid #FF00FF;
    border-right:            1px solid #FF00FF;
}

div.tbody input {
    padding-top:             4px;
    height:                  21px;
}

div.tbody div.hilight div {
    background-color:        #d0d0d0;
    border-left:             1px solid #d0d0d0;
    border-right:            1px solid #d0d0d0;
}

div.x6select table {
    border-spacing:          0;
    background-color:        #ffffff;
}

div.x6select table tbody tr.hilight td {
    background-color:        #d0d0d0;
}

div.x6select table thead tr th {
    border-top:              1px solid #ffFFff;
    border-bottom:           1px solid #909090;
    border-left:             1px solid #ffFFff;
    border-right:            1px solid #909090;
    background-color:        #f0f0f0;
}

#dialogbox {
    border:                  8px solid #4A79B5;
    background-color:        #ffffff;
}

